# https://github.com/plutotcool/release

on:
  push:
    branches:
    - main

jobs:
  analyze:
    uses: ./.github/workflows/codeql-analysis.yml
  regression:
    uses: ./.github/workflows/regression.yml
  release:
    runs-on: ubuntu-latest
    needs: [analyze, regression]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 16
    - run: yarn
    - uses: plutotcool/release@v2.0.0
      with:
        github_token:  ${{ secrets.GITHUB_TOKEN }}
        npm_token: ${{ secrets.NPM_TOKEN }}     